@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@300;400;500;600&display=swap');


html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    width: 100vw;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

/*Navbar items hover effect*/

.navbar .nav-end .navbar-item a:hover {
    cursor: pointer;
}

/*jQuery classes*/

.navbar.scrolled {
    background-color: rgb(45, 47, 57) !important;
    transition: background-color 200ms linear;
  }

.clicked {
    background-color: rgb(96, 190, 134);
    border: 4px solid rgb(96, 190, 134);
}

.faded {
    color: transparent;
    text-shadow: 0 0 8px rgba(45, 47, 57);
}

.hidden {
    display: none;
}

.hover-option {
    cursor: pointer;
}

.active-tab {
    color:rgb(96, 190, 134) !important;
}

/*Navbar*/
.navbar-brand {
    align-items: center;
}

.navbar .navbar-burger span {
    color: rgb(96, 190, 134);
}

.overlay-higher, .overlay-lower,
    .overlay-social-media, .overlay-scroll {
        position: absolute !important;
    }

/*Carousel subtitle 1 - fixed in position*/

.overlay-higher {
    position: absolute;
    z-index: 12;
    top: 37.5%;
    width: 100%;
    text-align: left;
}

/*Carousel subtitle 2 - fixed in position*/

.overlay-lower {
    position: absolute;
    z-index: 12;
    top: 58.5%;
    width: 100%;
    text-align: left;
}

/*Subtitle colouring*/

.overlay-higher .subtitle,
.overlay-lower .subtitle {
    color: rgb(229, 208, 204);
}

/*Carousel overlay 3 - fixed in position*/

.overlay-social-media {
    position: absolute;
    z-index: 12;
    top: 65%;
    width: 100%;
}

/*Hover effect over social media icons*/

.overlay-social-media i {
    transition: all 0.1s ease-in-out;
    color: rgba(229, 208, 204, 0.3);
}

.overlay-social-media i:hover {
    transform: scale(1.5);
    color: rgb(229, 208, 204);
    cursor: pointer;
}

/*Carousel overlay 4 - fixed in position*/

.overlay-scroll {
    position: absolute;
    z-index: 12;
    top: 92.5%;
    width: 100%;
    color: rgba(96, 190, 134, 0.3);
    transition: all 0.2s ease-in-out;
}

.overlay-scroll:hover {
    color: rgb(96, 190, 134);
    cursor: pointer;
}

/*Main carousel overlay*/

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(33, 29, 28, 0.7);
}

/*Individual carousel cells*/

.carousel-cell {
    width: 100%;
    height: 100vh;
  }

.carousel-cell:nth-of-type(1) {
    background: url(../images/kessingland.jpg) no-repeat center center; 
    background-size: cover;
}

.carousel-cell:nth-of-type(2) {
    background: url(../images/rollercoaster.jpg) no-repeat center center;
    background-size: cover;
}

.carousel-cell:nth-of-type(3) {
    background: url(../images/dunwich.jpg) no-repeat center center;
    background-size: cover;
}

.carousel-cell:nth-of-type(4) {
    background: url(../images/harrier.jpg) no-repeat center center;
    background-size: cover;
}

.carousel-cell:nth-of-type(5) {
    background: url(../images/sailing.jpg) no-repeat center center; 
    background-size: cover;
}

/*Carousel main titles - scroll with carousel*/

.cell-overlay .title {
    font-size: 110px;
    color: rgb(96, 190, 134);
    font-weight: 400;
    font-family: 'Caveat', cursive;
}

/*Visitor Center section*/

.visitor-center {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(45, 47, 57);
    border-top:rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}

.visitor-center .title,
.quiz-section .title,
.contact-section .title {
    color: rgb(45, 47, 57);
}

.visitor-center .welcome {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(45, 47, 57);
}

/*Text that takes user to scroll to quiz*/

.quiz-scroll {
    color: rgba(45, 47, 57, 0.5);
    transition: all 0.2s ease-in-out;
}

.quiz-scroll:hover {
    cursor: pointer;
    color: rgb(45, 47, 57);
}

/*Bulma tabs*/

.visitor-center .tabs ul a {
    transition: all 0.1s ease-in-out;
    border-bottom-style: none;
    letter-spacing: 1px;
    color:rgb(45, 47, 57);
} 

/*Quiz section*/

.quiz-section {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(45, 47, 57);
    background-color: rgba(229, 208, 204);
}

.quiz-section .quiz-option {
    border: solid 4px transparent;
}

.quiz-section button {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(45, 47, 57);
    background-color: rgba(96, 190, 134, 0.7);
    border: none;
}

.quiz-section button:hover {
    background-color: rgba(96, 190, 134);
    cursor: pointer;
}

/*Location result pages*/

.location-result {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(245, 245, 245);
}

.location-result .title {
   font-size: 90px;
   font-family: 'Caveat', cursive;
   color: rgb(45, 47, 57);
}

.location-result .subtitle {
    letter-spacing: 0.5px;
    color:rgb(45, 47, 57);
}

.location-img-l {
    background: url(../images/lowestoft-harbour.jpg) no-repeat center center; 
    background-size: cover; 
    height: 400px;
}

.location-img-y {
    background: url(../images/pleasure-beach.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}

.location-img-k {
    background: url(../images/africa-alive.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}

.location-img-ob {
    background: url(../images/ob.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}

.enjoy {
    letter-spacing: 4px;
    color:rgb(45, 47, 57);
}

/*Tab toggle sections*/
.profile-pic-1 {
    background: url(../images/employee1.jpg) no-repeat center center; 
    background-size: cover; 
    height: 150px; 
    width: 150px; 
    border-radius: 50%;
}

.profile-pic-2 {
    background: url(../images/employee2.jpg) no-repeat center center; 
    background-size: cover; 
    height: 150px; 
    width: 150px; 
    border-radius: 50%;
}

.profile-pic-3 {
    background: url(../images/employee3.jpg) no-repeat center center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-pic-4 {
    background: url(../images/employee4.jpg) no-repeat center center; 
    background-size: cover; 
    height: 150px; 
    width: 150px; 
    border-radius: 50%;
}

.first-light {
    background: url(../images/first-light.jpg) no-repeat center center; 
    background-size: cover; 
    flex-direction: column;
}

.latitude {
    background: url(../images/latitude.jpg) no-repeat center center;
    background-size: cover;
    flex-direction: column;
}

.oulton-races {
    background: url(../images/powerboat.jpg) no-repeat center center;
    background-size: cover;
    flex-direction: column;
}

.horse-racing {
    background: url(../images/horse-racing.jpg) no-repeat center center;
    background-size: cover;
    flex-direction: column;
}

.wildlife-club {
    background: url(../images/kids-nature.jpg) no-repeat center center;
    background-size: cover;
    flex-direction: column;
}

.nearly-festival {
    background: url(../images/tribute-band.jpg) no-repeat center center;
    background-size: cover;
    flex-direction: column;
}

/* Brochure / get in touch section */
.contact-section {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(229, 208, 204);
    color: rgb(45, 47, 57);
}

.contact-section .subtitle {
    color: rgb(45, 47, 57);
}

/* Footer */

.footer {
    background: url(../images/kessingland.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-overlay {
    background-color:rgba(33, 29, 28, 0.7);
    height: 100%;
    width: 100%;
}

.footer .footer-contact {
    color: rgb(229, 208, 204);
}

.footer-logo {
    color: rgb(229, 208, 204);
    letter-spacing: 2px;
}

.footer-menu a {
    color:rgb(229, 208, 204);
}

.footer-social-media {
    color:rgb(229, 208, 204);
}

.footer-social-media .icon i {
    color:rgba(229, 208, 204, 0.3);
    transition: all 0.1s ease-in-out;
}

.footer-social-media .icon i:hover {
    color: rgb(229, 208, 204);
    transform: scale(1.2);
}

/*Modal*/
.modal input,
.modal button,
.modal .select,
.modal select,
.modal option {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Media queries according to Google Dev tools */
@media only screen 
and (min-width: 319px) and (max-width: 766px) {

    .navbar .navbar-brand a.navbar-item h1 {
        font-size: 1em !important;
    }

    .navbar-brand {
        align-items: center !important;
    }

    .cell-overlay {
        justify-content: center;
        align-items: center;
    }

    .overlay-higher {
        top: 52vh !important;
    }

    .overlay-lower {
        top: 75vh;
    }

    .overlay-higher .subtitle,
    .overlay-lower .subtitle {
        margin-left: 0 !important;
    }

    .cell-overlay .title {
        font-size: 50px;
        margin-left: 0 !important;
        padding: 10px;
        text-align: center;
        margin-top: 35vh;
    }

    .overlay-social-media {
        top: 85vh;
    }

    .overlay-scroll {
        top: 92vh;
    }

    .overlay-higher, .overlay-lower,
    .overlay-social-media, .overlay-scroll {
        text-align: center;
    }

    .quiz-section .welcome {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: justify !important;
    }

    .location-result {
        padding: 0.5em !important;
    }

    .location-result .container {
        padding: 1em !important;
    }

    .location-result .container .title {
        font-size: 3em !important;
        padding-top: 10px;
    }

    .location-result .container .subtitle {
        padding-top: 12px;
    }

    .location-result h1 {
        font-size: 60px !important;
        text-align: center !important;
    }

    .location-result .enjoy {
        padding-bottom: 10px;
        text-align: center;
    }

    .location-result .description {
        text-align: center !important;
    }

    .tabs span:nth-of-type(2) {
        font-size: 15px !important;
    }

    #projectToggle {
        padding: 0.5em !important;
    }

    #projectToggle .subtitle {
        text-align: center;
    }

    #projectToggle .card {
        height: 150px;
    }

    .container.history {
        padding: 0 !important;
        padding-top: 20px !important;
    }

    .contact-section .contact-col {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .contact-section .contact-col:nth-last-of-type(2) {
        border-left: none !important;
        border-right: none !important;
        border-top: 2px solid rgb(245,245,245);
        border-bottom: 2px solid rgb(245,245,245);
    }

    .footer-contact {
        text-align: center;
    }

    .footer-logo {
        padding-top: 48px;
        margin-top: 30px;
    }

    .footer .footer-social-media {
        margin-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-social-media span:nth-of-type(1) {
        margin-left: 0 !important;
    }
}

@media only screen 
and (min-width: 602px) and (max-width: 766px) {
    .cell-overlay .title {
        font-size: 80px;
        margin-top: 30vh;
    }

    .location-result .enjoy {
        padding-top: 40px;
    }

    .location-result h1 {
        font-fize: 4em !important;
    }
}

@media only screen
and (min-width: 767px) and (max-width: 1100px) {

    .location-result p.enjoy {
        text-align: center !important;
    }

    .location-result h1 {
        text-align: center !important;
        padding-top: 10px;
    }

    .location-result p.description {
        text-align: center !important;
        padding: 0 !important;
        margin-bottom: 10px;
    }

    .container.history .columns {
        display: flex;
        flex-direction: column;
    }

    .container.history .column {
        width: 100% !important;
    }

    #projectToggle .card {
        justify-content: space-evenly !important;
    }

    .columns.contact {
        display: flex;
        flex-direction: row !important;
    }

    .contact-section .column.is-offset-3 {
        margin-left: 0 !important;
    }

    .contact-section .contact-col {
        width: 33% !important;
    }

    .footer-contact {
        text-align: center;
    }

    .footer-logo {
        padding-top: 48px;
        margin-top: 30px;
    }

    .footer .footer-social-media {
        margin-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-social-media span:nth-of-type(1) {
        margin-left: 0 !important;
    }
}

@media only screen 
and (min-width: 1101px) {
    .contact-section .column.is-offset-3 {
        margin-left: 0 !important;
    }

    .contact-section .contact-col {
        width: 33% !important;
    }
}
