@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*Navbar items hover effect*/

.navbar .nav-end .navbar-item a:hover {
    cursor: pointer;
}

/*Navbar scrolling jQuery class*/

.navbar.scrolled {
    background-color: rgba(79, 109, 122, 0.8) !important;
    transition: background-color 400ms linear;
  }

.clicked {
    background-color:rgb(221, 110, 66);
    color: #eaeaea;
}

.faded {
    color: transparent;
    text-shadow: 0 0 8px #4F6D7A;
}

/*Carousel subtitle 1 - fixed in position*/

.overlay-higher {
    position: absolute;
    z-index: 12;
    top: 37.5%;
    width: 100%;
    text-align: left;
}

/*Carousel subtitle 2 - fixed in position*/

.overlay-lower {
    position: absolute;
    z-index: 12;
    top: 58.5%;
    width: 100%;
    text-align: left;
}

/*Subtitle colouring*/

.overlay-higher .subtitle,
.overlay-lower .subtitle {
    color: rgb(221, 110, 66);
}

/*Carousel overlay 3 - fixed in position*/

.overlay-social-media {
    position: absolute;
    z-index: 12;
    top: 65%;
    width: 100%;
}

/*Hover effect over social media icons*/

.overlay-social-media i {
    transition: all 0.1s ease-in-out;
    color: rgba(221, 110, 66, 0.2);
}

.overlay-social-media i:hover {
    transform: scale(1.5);
    color:rgb(221, 110, 66);
    cursor: pointer;
}

/*Carousel overlay 4 - fixed in position*/

.overlay-scroll {
    position: absolute;
    z-index: 12;
    top: 92.5%;
    width: 100%;
    color: rgba(221, 110, 66, 0.2);
    transition: all 0.2s ease-in-out;
}

.overlay-scroll:hover {
    color: rgb(221, 110, 66);
    cursor: pointer;
}

/*Main carousel overlay*/

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(33, 29, 28, 0.7);
}

/*Individual carousel cells*/

.carousel-cell {
    width: 100%;
    height: 100vh;
  }

/*Carousel main titles - scroll with carousel*/

.cell-overlay .title {
    font-size: 110px;
    color: rgba(234, 234, 234);
    font-weight: 400;
    font-family: 'Caveat', cursive;
}

/*Visitor Center section*/

.visitor-center {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(79, 109, 122);
    color: rgba(234, 234, 234);
}

.visitor-center .title,
.quiz-section .title {
    color: #211D1C;
}

.visitor-center .welcome {
    font-family: 'Roboto Condensed', sans-serif;
}

/*Text that takes user to scroll to quiz*/

.quiz-scroll {
    color: rgba(79, 109, 122, 0.5);
    transition: all 0.2s ease-in-out;
}

.quiz-scroll:hover {
    cursor: pointer;
    color: rgb(79, 109, 122);
}

/*Bulma tabs*/

.visitor-center .tabs ul a {
    color: rgb(234, 234, 234);
    transition: all 0.1s ease-in-out;
    border-bottom-style: none;
    letter-spacing: 1px;
}

.visitor-center .tabs ul a:hover {
   
}

.active-tab {
    
}

/*Quiz section*/

.quiz-section {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(234, 234, 234);
    color: rgba(79, 109, 122);
}

.quiz-section button {
    color: rgba(234, 234, 234);
    background-color: rgba(221, 110, 66, 0.8);
    border: none;
}

.quiz-section button:hover {
    background-color: rgb(221, 110, 66);
    cursor: pointer;
}

/*Location result pages*/

.location-result {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(234, 234, 234);
}

.location-result .container {
    color: rgb(234, 234, 234);
}

.location-result .title {
   font-size: 80px;
   color: #4F6D7A;
}

.location-result .subtitle {
    color: rgb(234, 234, 234);
    letter-spacing: 1px;
}

.location-img-l {
    background: url(/assets/images/lowestoft.jpg) no-repeat center center; 
    background-size: cover; 
    height: 200px;
}

.location-img-g {
    background: url(/assets/images/gorleston.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

.location-img-k {
    background: url(/assets/images/kessingland-2.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

.location-img-ob {
    background: url(/assets/images/ob.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

.enjoy {
    color:rgb(234, 234, 234);
    letter-spacing: 3px;
}

.location-facts li {
  margin: 1em;
}

.location-facts li i {
    margin-left: -1.5em;
}

/*Mobile queries*/

/*Mobile media query - 360px to 798px*/
@media (min-width: 360px) and (max-width: 798px) {
    .cell-overlay {
        justify-content: center;
        align-items: center;
    }
    
    .cell-overlay .title {
        font-size: 11vw;
        line-height: 50px;
        margin-left: 0 !important;
        margin-top: 230px;
        text-align: center;
        padding: 0.5em;
    }

    .overlay-higher, .overlay-lower,
    .overlay-social-media, .overlay-scroll {
        text-align: center;
    }

    .overlay-higher {
        top: 49%;
    }

    .overlay-lower {
        top: 74%;
    }

    .overlay-social-media {
        top: 85%;
    }

    /*Sorting the responsive tab issue code - https://github.com/buefy/buefy/issues/364#issuecomment-408530192*/

    li:not(.is-active) > a > span:not(.icon) {
        visibility: hidden;
        position:  absolute;
    }
      
    nav.tabs li:not(.is-active) {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
      
    .tabs .icon {
        margin-left: 0.5em;
    }
      
    .tabs li {
        transition: flex-grow 1s ease;
    }
}