@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

/*Navbar items hover effect*/

.navbar .nav-end .navbar-item a:hover {
    color: #9AB95D;
}

/*Carousel subtitle 1 - fixed in position*/

.overlay-higher {
    position: absolute;
    z-index: 12;
    top: 37.5%;
    width: 100%;
    text-align: left;
}

/*Carousel subtitle 2 - fixed in position*/

.overlay-lower {
    position: absolute;
    z-index: 12;
    top: 58.5%;
    width: 100%;
    text-align: left;
}

/*Subtitle colouring*/

.overlay-higher .subtitle,
.overlay-lower .subtitle {
    color: #9AB95D;
}

/*Carousel overlay 3 - fixed in position*/

.overlay-social-media {
    position: absolute;
    z-index: 12;
    top: 65%;
    width: 100%;
}

/*Hover effect over social media icons*/

.overlay-social-media i {
    transition: all 0.1s ease-in-out;
    color: rgba(154, 185, 93, 0.2);
}

.overlay-social-media i:hover {
    transform: scale(1.5);
    color:#9AB95D;
}

/*Carousel overlay 4 - fixed in position*/

.overlay-scroll {
    position: absolute;
    z-index: 12;
    top: 92.5%;
    width: 100%;
    color: rgba(154, 185, 93, 0.2);
    transition: all 0.2s ease-in-out;
}

.overlay-scroll:hover {
    color: #9AB95D;
}

/*Main carousel overlay*/

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(33, 29, 28, 0.6);
}

/*Individual carousel cells*/

.carousel-cell {
    width: 100%;
    height: 100vh;
  }

/*Carousel main titles - scroll with carousel*/

.cell-overlay .title {
    font-size: 100px;
    color: #F6BA45;
    font-weight: 400;
}

/*Visitor Center section*/

.visitor-center {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #9AB95D;
    color: #0D7188;
}

.visitor-center .title {
    color: #211D1C;
}