@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.overlay-higher {
    position: absolute;
    z-index: 12;
    top: 38.5%;
    width: 100%;
    height: 100px;
    text-align: left;
}

.overlay-lower {
    position: absolute;
    z-index: 12;
    top: 58%;
    width: 100%;
    height: 100px;
    text-align: left;
}

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.carousel-cell {
    width: 100%;
    height: 100vh;
  }

.cell-overlay .title {
    font-size: 90px;
}