@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.carousel-cell {
    width: 100%;
    height: 100vh;
  }