/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*HTML*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: url(../images/sunrise.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*JQUERY/JAVASCRIPT CLASSES*/
nav.navbar.nav-scrolled {
    background-color: #60be86;
    transition: background-color 200ms ease-in-out;
  }

.clicked {
    background-color: #2d2f39;
}

/*UNIVERSAL STYLING (FONT AND COLOUR);

    /*Font family*/
        div.hero,
        nav.navbar,
        .title.hero-title,
        .subtitle.hero-subtitle,
        .follow-us,
        .column.hero-link,
        .online-guide,
        .contact,
        .form input,
        .footer,
        .modal button,
        .modal label,
        .subtitle.info-subtitle,
        .title.tile-title,
        .subtitle.tile-subtitle,
        .title.info-title,
        .title.info-heading,
        .title.owner-info-title,
        .owner-summary {
            font-family: 'Staatliches', cursive;
        }

        .company-name,
        .title.hero-title,
        .title.top-picks,
        .title.modal-title,
        .countryside-code {
            font-family: 'Alfa Slab One', cursive;
        }

    /*Font & background colours*/
        .company-name,
        .navbar-start span,
        .navbar-end .navbar-item,
        .navbar-end .navbar-item:hover,
        .title.online-guide-title
        .subtitle.online-guide-subtitle,
        .column.activity p,
        .title.location-title,
        .title.top-picks,
        .title.info-title,
        .subtitle.info-subtitle,
        .title.tile-title,
        .subtitle.tile-subtitle,
        .owner-summary {
            color: #2d2f39;
        }

        .title.hero-title,
        .column.activity i,
        .modal i,
        .footer-contact i {
            color: #60be86;
        }

        .subtitle.hero-subtitle,
        .follow-us,
        .column.hero-link,
        .location-key p,
        .map-location a,
        .title.contact-title,
        .subtitle.contact-subtitle,
        .contact-method,
        .footer-contact,
        .footer-logo,
        .footer-menu a,
        .footer-social-media,
        .tile-icon,
        .pointer {
            color: #F5F5F5;
        }

        div.info-wrapper {
            background-color: rgba(245, 245, 245, 0.5);
        }

        .column.social-media-icons a,
        .footer-social-media .icon i {
            color: rgba(245, 245, 245, 0.3);
        }

        .hero-background,
        .map-location a {
            background-color: rgba(45, 47, 57, 0.7);
        }

        .online-guide,
        .info {
            background-color:#f5f5f5;
        }

        .location-key,
        .modal button,
        .circle-button,
        .owner-profile {
            background-color: #60be86;
        }

        .tile.notification {
            background-color: rgba(96, 190, 134, 0.3);
        }

        .section.contact {
            background-color: #2d2f39;
        }

        footer.footer {
            background-color:rgba(45, 47, 57, 0.7);
        }

    /*Hover effects*/
        .navbar-end .navbar-item:hover,
        .column.social-media-icons a:hover,
        .column.activity:hover,
        .map-location a:hover,
        .toggle-modal:hover,
        .circle-button:hover,
        .countryside-code {
            cursor: pointer;
        }

        .column.column.social-media-icons a {
            transition: all 0.1s ease-in-out;
        }

        .column.social-media-icons a:hover {
            color: #f5f5f5;
            transform: scale(1.5);
        }

        span.unselected-overlay {
            position: absolute;
            z-index: 100;
            width: 100%;
            font-size: 3rem;
        }

        .span.unselected-overlay p {
            color: #2d2f39;
        }

        .map-location:hover {
            background-color: #60be86;
        }
        
        .map-location a:hover {
            color: #f5f5f5;
        }

        .tile.notification:hover {
            background-color: #60be86;
        }

        .toggle-modal:hover {
            color: #60be86;
        }

        .countryside-code {
            text-decoration: none;
        }

    /*Animations*/
        .pointer {
            animation: point 2s infinite;
        }

        @keyframes point {
            0%,
            25%,
            50%,
            75%,
            100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-20px);
            }
            60% {
              transform: translateY(-12px);
            }
          }

        span.unselected-overlay {
              animation: pulse 1.5s infinite;
          }

          @keyframes pulse {
            0% {
                opacity: 1;
            }
        
            50% {
                opacity: 0.2;
            }
        
            100% {
                opacity: 1;
            }
          }

        /*Hidden sections*/
        .section.online-guide,
        .section.info,
        .section.owner-info {
            display: none;
        }
        

/*SPECIFIC SECTION STYLING*/
    /*Header/hero image*/
    .hero-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .title.hero-title {
        font-size: 70px;
        letter-spacing: 3px;
    }

    .title.info-title {
        font-size: 4rem;
    }

    .subtitle.info-subtitle {
        letter-spacing: 3px;
    }

    .header-hr {
        background-color: #60be86;
        width: 200px;
        height: 3px;
        margin: 0 auto;
    }

    .info-hr,
    .owner-hr {
        background-color: #f5f5f5;
        width: 100px;
        height: 3px;
    }

    .owner-hr {
        margin: 0 auto;
    }

    .follow-us {
        letter-spacing: 1px;
    }

    .columns.hero-images {
        flex-direction: row;
    }

    .column.hero-link {
        border-top: 2px solid #60be86;
        flex-direction: column;
    }

    /*Navigation menu*/
    .company-logo {
        max-height: 0px;
    }

    .company-name {
        font-size: 1.5rem;
    }

    .navbar-end .navbar-item {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }

    /*Online guide*/
    .column.online-guide-wrapper,
    .column.info-heading-wrapper {
        border-bottom: 3px solid #60be86;
    }

    .subtitle.online-guide-subtitle {
        font-size: 1rem;
    }

    .columns.activity-wrapper.is-mobile {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .column.activity {
        flex-direction: column;
    }

    /*Google Map*/
    .map {
        height: 500px;
    }

    .location-wrapper {
        align-items: center;
        opacity: 0.4;
    }

    .map-location {
        flex-direction: column;
        align-items: center;
    }

    .title.location-title {
        font-size: 110%;
        border-bottom: 3px solid #60be86;
    }

    .location-key {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.2rem;
    }

    .map-location a {
        border-radius: 5px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    
    .title.top-picks {
        font-size: 1.2rem;
    }

    .contact-method {
        flex-direction: column;
    }

    .circle-button {
        border-radius: 50%;
        height: 125px;
        width: 125px;
    }

    .column.owner-photo {
        height: 400px;
        background: url(../images/employee3.jpg) no-repeat center center;
        background-size: cover;
    }

    .owner-summary {
        letter-spacing: 0.5px;
    }

    /*Footer*/
    .footer-logo {
        letter-spacing: 2px;
        flex-direction: column;
    }

    div.footer-social-media {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .footer-social-media .icon i {
        transition: all 0.1s ease-in-out;
    }

    .footer-social-media .icon i:hover {
        color: rgb(229, 208, 204);
        transform: scale(1.2);
    }

    /*Modal*/
    .modal button {
        font-weight: 700;
    }

    
@media only screen
and (min-width: 320px) and (max-width: 375px) {
    .company-name {
        font-size: 1rem;
    }

    .title.hero-title {
        font-size: 2rem;
    }

    .title.online-guide-title,
    .subtitle.online-guide-subtitle {
        text-align: center;
        font-size: 0.5px;
    }

    .toggle-tabs .columns {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .circle-button {
        width: 100%;
        height: 33.3%;
        border-radius: 0px;
    }

    .activity p {
        font-size: 0.7rem;
    }

    .contact-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-method-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .column.contact-method {
        width: 100% !important;
        margin-bottom: 20px;
    }

    div.footer-social-media {
        margin-top: 0;
        justify-content: center;
    }

    span.unselected-overlay {
        position: relative;
        width: 100%;
        font-size: 1rem;
    }

    span.unselected-overlay p {
        padding: 1em;
    }

    .title.info-heading {
        text-align: center;
    }

    .footer-contact {
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-contact p {
        font-size: 0.9rem !important;
    }
}

@media only screen 
and (min-width: 375px) and (max-width: 768px) {
    div.hero-body {
        margin-top: 3rem;
    }

    .title.online-guide-title,
    .subtitle.online-guide-subtitle {
        text-align: center;
    }

    .title.hero-title {
        font-size: 2.4rem;
    }

    .toggle-tabs .columns {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .circle-button {
        width: 100%;
        height: 33.3%;
        border-radius: 0px;
    }

    .activity p {
        font-size: 0.9rem;
    }

    .title.info-heading {
        text-align: center;
    }

    span.unselected-overlay {
        position: relative;
        width: 100%;
        font-size: 1.3rem;
    }

    span.unselected-overlay p {
        padding: 1em;
    }

    .contact-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }

    div.footer-social-media {
        margin-top: 0 !important;
        justify-content: center;
    }

    .footer-contact {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media only screen
and (min-width: 769px) and (max-width: 1024px) {
    .title.location-title {
        font-size: 12px;
    }
}