@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

/*Carousel subtitle 1 - fixed in position*/

.overlay-higher {
    position: absolute;
    z-index: 12;
    top: 37.5%;
    width: 100%;
    text-align: left;
}

/*Carousel subtitle 2 - fixed in position*/

.overlay-lower {
    position: absolute;
    z-index: 12;
    top: 58.5%;
    width: 100%;
    text-align: left;
}

.overlay-social-media {
    position: absolute;
    z-index: 12;
    top: 65%;
    width: 100%;
}

/*Hover effect over social media icons*/

.overlay-social-media i {
    transition: all 0.1s ease-in-out;
}

.overlay-social-media i:hover {
    transform: scale(1.5);
}

/*Main carousel overlay*/

.cell-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Individual carousel cells*/

.carousel-cell {
    width: 100%;
    height: 100vh;
  }

/*Carousel main titles - scroll with carousel*/

.cell-overlay .title {
    font-size: 100px;
}